/* FUENTE MONTSERRAT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* REGLAS DE RESET */

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    width: 1728px;
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.12em;
    background-color: #000000;
}

header a {
    width: 302px;
    text-align: center;
    text-decoration: none;
}

/* MAIN */

main {
    width: 1728px;
    height: 998px;
    border: 1px solid black;
    box-sizing: border-box;
    background-image: url(/media/img-fondo.png);
    background-position: center;
}

.products {
    width: 1278px;
    height: 794px;
    background-color: #000000;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 102px 225px;
    text-align: center;
}

.products h2 {
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #fd7d54;
}

.products p {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 1px;
   margin-bottom: 50px;
}

.contenedor {
    margin-left: 109px;
    margin-right: 119px;
    display: flex;
    justify-content: space-between;
}

.cards {
    border: 4px solid #ffffff;
    height: 440px;
    width: 293px;
    padding-top: 36px;
}

.cards h3 {
    font-size: 27px;
    font-weight: 800;
}

.cards a {
    color: #41c3f6;
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
}

/* FOOTER */

footer {
    height: 50px;
    width: 1728px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    background-color: #000000;
    border: 0.1px solid black;
    box-sizing: border-box;
}
